name: openfold-env 
channels:
  - conda-forge
  - bioconda
  - pytorch
  - nvidia 
dependencies:
  - cuda
  - gcc=12.4
  - python<3.11
  - setuptools=59.5.0
  - pip
  - openmm
  - pdbfixer
  - pytorch-lightning
  - biopython
  - numpy=1.26.4
  - pandas
  - PyYAML
  - requests
  - scipy
  - tqdm
  - typing-extensions
  - wandb
  - modelcif==0.7
  - awscli
  - ml-collections
  - aria2
  - git
  - bioconda::hmmer
  # install libopenblas as a fix for https://github.com/bioconda/bioconda-recipes/issues/56856
  - libopenblas
  - libaio
  - bioconda::hhsuite
  - bioconda::kalign2
  - mmseqs2
